* {
  box-sizing: border-box;
}

/* Header */
header {

  text-align: center;
}

/* Bar Chart */
div.barChart {
  margin: auto;
  margin-bottom: 4em;
  width: 70%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;

  .bar {
    background: lemonchiffon;
    text-align: right;
    margin-bottom: .5em;
  }
}

/* Table */
h2 {
  text-align: center;
}
div.table {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  border-left: 1px solid black;

  div.column {
    flex: 1;

    .number * {
      text-align: center;
      padding: .2em;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }
  }

}
